body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 20px;
}
form{
    background-color: pink;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    border: radius 25px;
}

input[type="text"], input[type ="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: blueviolet;
    color: white;
    padding: 10px ;
    border: none;
    border-radius: 3x;
    cursor: pointer;
    width: 100% ;
}

input[type="submit"]:hover {
    background-color: rgb(211, 0, 158);
}
h2 {
    text-align: center;
    color: white;
}

form label {
    display: block;
    margin-top: 10px;
    color: rgb(180, 24, 180);
}