body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(231, 158, 182);
    margin: 0;
    padding: 20px;
}

form {
    background-color: rgb(225, 137, 228);
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    border-radius: 25px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #df9ae6;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(214, 128, 157);
    color: rgb(10, 0, 9);
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: rgb(211, 0, 158);
}

h2 {
    text-align: center;
    color: white;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

.button-group input[type="submit"],
.button-group input[type="reset"] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    background-color: rgb(214, 128, 157);
}

input[type="reset"]:hover {
    background-color: rgb(211, 0, 158);
}

form label {
    display: block;
    margin-top: 10px;
    color: black;
    font-weight: 600;
    line-height: 1.5;
}

footer {
    text-align: center;
    font-size: small;
    color: rgb(245, 185, 242);
    margin-top: 30px;
    padding: 10px 0;
}